body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #212020;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    color: #fefefe;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
}

#insert {
    margin-top: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 35px;
    text-align: center;
    font-weight: bold;
}

th {
    background-color: #17331e;
    color: #fff;
    font-weight: bold;
}

tr:nth-child(even) {
    background-color: #394242;
}

tr:hover {
    background-color: #556363;
}
